<div class="card">
    <h5 class="card-header" *ngIf="!user.id">New User</h5>
    <h5 class="card-header" *ngIf="user.id">{{user.firstName}} {{user.lastName}}</h5>
    <ul class="list-group list-group-flush" *ngIf="user && isConfirmDelete">
        <li class="list-group-item">
            Anda yakin ingin menghapus data <strong>{{user.firstName}} {{user.lastName}}</strong>
        </li>
        <li class="list-group-item">
            <button class="btn btn-dark me-3" (click)="onDelete()">Yes</button>
            <button class="btn btn-outline-dark ml-3" (click)="isConfirmDelete = false;">No</button>
        </li>
    </ul>
    <ul class="list-group list-group-flush" *ngIf="!isConfirmDelete">
        <li class="list-group-item">
            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]="user.username">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control" [(ngModel)]="user.password">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" name="" id="" class="form-control" [(ngModel)]="user.email">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Phone Number</label>
                <input type="text" placeholder= "+xx..." name="" id="" class="form-control" [(ngModel)]="user.phone">
            </div>
        </li>
        <li (click)="showToggle()" *ngIf="!showMore" class="list-group-item"><strong>Personal Data...</strong></li>
        <li (click)="showToggle()" *ngIf="showMore" class="list-group-item"><strong>Hide..</strong></li>
        <li *ngIf="showMore" class="list-group-item">
            <div class="mb-3">
                <label for="" class="form-label">First Name</label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]="user.firstName">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Last Name</label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]="user.lastName">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Gender</label>
                <select class="form-control" [(ngModel)]="user.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="undefined">Undefined</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Maiden Name</label>
                <input type="text" name="" id="" class="form-control" [(ngModel)]="user.maidenName">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Birth Date</label>
                <input type="date" name="" id="" class="form-control" [(ngModel)]="user.birthDate">
            </div>
        </li>
        <li class="list-group-item mt-2 mb-2" *ngIf="!user.id">
            <button (click)="onCreate()" class="btn btn-primary">Save</button>                        
        </li>
        <li class="list-group-item mt-2 mb-2" *ngIf="user.id">
            <button class="btn btn-primary me-3" (click)="onUpdate()">Update</button>
            <button class="btn btn-warning me-3" (click)="cancel()">Cancel</button>                        
            <button class="btn btn-danger" (click)="isConfirmDelete = true">Delete</button>                        
        </li>
    </ul>
</div>